/* Styling for the board and overall layout */
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: white;
}

/* Styling for the game board */
#board {
    /* size of board */
    height: 540px;
    width: 630px;

    /* Color of board */
    background-color: #0033FF;
    border: 8px solid #000099;
    
    /* Centers board */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/* Each individual circle on the board */
.tile {
    /* Size of tile */
    height: 70px;
    width: 70px;
    margin: 5px;

    /* Color of tiles */
    background-color: white;
    border-radius: 50%;
    border: 5px solid #000099;
}

/* Style for maroon piece */
.maroon-piece {
    background-color: #630031;
}

/* Style for orange piece */
.orange-piece {
    background-color: #CF4420;
}